.block{
    
    
    color: aliceblue;
   background-color: aliceblue;
}
@media screen and (max-width:469px){
    .block{
        margin-left: 50px;
    }
}

@media screen and (max-width:469px){
    .block{
        margin-left: 50px;
       
    }
}
